@import url(./__item/photo-grid__item.css);

.photo-grid {
  display: grid;
  grid-template-columns: repeat(4, 284px);
  grid-gap: 16px;
  max-width: 1184px;
  align-content: center;
  justify-content: center;
}

@media (max-width: 1279px) {
  .photo-grid {
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 1023px) {
  .photo-grid {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .photo-grid {
    grid-template-columns: repeat(1, min-content);
  }
}