.cover__overlay {
  background:rgba(42, 44, 47, 0.3);
  min-height: 740px;
  max-width: 1184px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #FFFFFF;
  transition: background 0.5s ease-in-out;
  object-fit: cover;
  
}

.cover__overlay:hover {
  background:rgba(42, 44, 47, 0.8);
}
